html, body, *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%; /* 10px */
}
body{
     background-color: lightpink;
    }
  h1{
    color: royalblue;
    margin: 2rem;
    font-size: 30rem;
    text-align: center; 
    animation: test 5s infinite;
}   
.font-size1{
    font-size: 10rem;
}

.parent{
    font-size: 1rem;
    display: flex;
    flex-flow: row wrap;
   justify-content: space-around;
   margin-bottom: 1rem;
   margin-left: 1rem auto;
  

}
.box-size{
    width: 60%;
    height: 10%;
}
#card-image{
 max-width: fit-content;
}
.card{
    width: 20%;
    height: 20%;
    border: 1rem solid;
    margin: 5rem;
    box-shadow: 1rem 0.5rem rgba(65, 105, 225, 0.7) ;
    border-radius: 4rem;
    background-color:rgb(158, 64, 64);
    text-align: center;
    font-size: 10rem;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 1rem 0.5rem red;
}
#square2:hover{
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 5rem 0.5rem rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease-out;
}
#square3:hover{
    transform: scaleY(2) scalex(2);
}
 
#square4:hover{
    transform: rotate(360deg);
    transition-duration: 0.5s;
}

.box-size{
    transition: all 0.3s ease-in-out;

}
#square5:hover{
    transform: translate(5rem,5rem);
}

@media (max-width:80rem){
   .card{
width: 25rem;
height: 25rem;

    }
    h1{
        font-size: 20rem;
    }
}
@media (max-width:40rem){
    ..card{
        width: 30rem;
        height: 30rem;
    }
    h1{
        font-size: 10rem;
    }
}
@keyframes test {
    0% {
        color: red;
    }
    
    25%{
        color: blue;
        transform: scale(1.2);
    }

    50%{
        color: green;
    }
    75%{
        color: yellow;
    }

}

 